<div class="super">
    <div class="menu-left">
        <div class="menu-item"><a href="../category">Chuyên mục</a></div>
        <div class="menu-item"><a href="../tag">Thẻ</a></div>
        <div class="menu-item selected"><a href="./pending">Bài viết</a></div>
        <div class="menu-item"><a href="../user">Người dùng</a></div>
    </div>
    <div class="right">
        <div class="container-main">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/post/pending">Bài chưa duyệt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/post/denied">Bị từ chối</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/post/published">Đã xuất bản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/post/approved">Đã duyệt & chờ xuất bản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/post/textEditor">Viết bài</a>
                </li>
            </ul>
            <div id="approved">
                <div class="posts">
                    {{#each posts as |post postIndex|}}
                    <!-- Post -->
                    <div class="post_item post_h_large">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="post_image"><img src="{{post.urlthumbnail}}" alt="post_image"
                                        onclick="window.location='/posts/{{id}}';">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="post_content">
                                    <div class="pull-right">
                                        <a class="btn btn-info" href="/admin/post/textEditor/{{id}}" role="button">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                            Chỉnh sửa
                                        </a>
                                        <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#modalPublic{{id}}">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            Xuất bản
                                        </button>
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#deletePost{{id}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Xoá
                                        </a>
                                    </div>
                                    <div class="post_category cat_technology"><a
                                            href="../category.html">{{post.category}}</a></div>
                                    <div
                                        class="tags_content d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        {{#each post.tags}}
                                        <div class="tag"><a href="#">#{{name}}</a></div>
                                        {{/each}}
                                    </div>
                                    <div class="post_title"><a href="/posts/{{id}}">{{post.title}}</a></div>
                                    <div class="post_info d-flex flex-row align-items-center justify-content-start">
                                        <div
                                            class="post_author d-flex flex-row align-items-center justify-content-start">
                                            <div>
                                                <div class="post_author_image"><img src="{{post.urlavatar}}"
                                                        alt="author_avatar" width="16">
                                                </div>
                                            </div>
                                            <div class="post_author_name"><a href="#">{{post.writer}}</a>
                                            </div>
                                        </div>
                                        <div class="post_date"><a href="#">{{this.date}}</a></div>
                                    </div>
                                    <div class="post_text">
                                        <p>{{this.summary}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Public-->
                    <div class="modal fade" id="modalPublic{{id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="/admin/post/public">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Xuất bản ngay</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="id" id="id" value="{{id}}">
                                        <div class="form-check">
                                            <input name="isPremium" type="checkbox" class="form-check-input" id="check">
                                            <label class="form-check-label" for="check">Chọn làm bài Premium?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="fa fa-times" aria-hidden="true"></i>Đóng</button>
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-check" aria-hidden="true"></i>OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Delete-->
                    <div class="modal fade" id="deletePost{{id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form method="POST" action="/admin/post/delete/{{id}}">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn XÓA mục đã
                                            chọn?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-item">
                                            <label for="name">Tên bài viết:</label>
                                            <input readonly class="form-control" id="name" type="text"
                                                value="{{title}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>