<div class="super">
  <div class="menu-left">
    <div class="menu-item"><a href="./category">Chuyên mục</a></div>
    <div class="menu-item selected"><a href="./tag">Thẻ</a></div>
    <div class="menu-item"><a href="./post/pending">Bài viết</a></div>
    <div class="menu-item"><a href="./user">Người dùng</a></div>
  </div>
  <div class="right">
    <div class="container-main">
      <div class="admin-label">Quản lý thẻ</div>
      <div class="edit">
        <h3 class="divider gradient">Thêm thẻ</h3>

        <div class="add-category">
          <form action="" method="POST">
            <div class="form-item">
              <label for="name">Tên thẻ</label>
              <input id="name" name="tagname" type="text">
            </div>
            <div class="form-item">
              <input class="submit" type="submit" value="Thêm thẻ">
            </div>
          </form>
        </div>

        <h3 class="divider gradient">Thẻ hiện tại</h3>

        <div class="categories">
          <div class="details" style="height:180px;overflow:auto;">
            <table>
              <tr>
                <th>Tên</th>
                <th>Tác vụ</th>
              </tr>

              {{#each tags}}
              <tr>
                <td>{{name}}</td>
                <td>
                  <a class="btn btn-primary" data-toggle="modal" data-target="#tagModal{{id}}">Chỉnh sửa</a>
                  <a class="btn btn-danger" data-toggle="modal" data-target="#deleteTag{{id}}">Xoá</a>
                </td>
              </tr>
              <!-- Modal change name-->
              <div class="modal fade" id="tagModal{{id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form method="POST" action="/admin/tag/{{id}}/changeName">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thẻ
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <label for="oldName">Tên cũ:</label>
                        <input readonly class="form-control" id="oldName" type="text" value="{{name}}">
                        <div class="form-item">
                          <input name="id" type="hidden" id="id" type="text" value="{{id}}">
                        </div>
                        <div class="form-item">
                          <label for="name">Tên mới:</label>
                          <input name="name" id="name" type="text">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-success">Lưu</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Modal Delete-->
              <div class="modal fade" id="deleteTag{{id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn XÓA mục đã chọn?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-item">
                        <label for="name">Tên tag:</label>
                        <input readonly class="form-control" id="name" type="text" value="{{name}}">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                      <button type="button" class="btn btn-primary"
                        onclick="window.location='/admin/tag/{{id}}/delete';">Xóa</button>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>