<!DOCTYPE html>
<html lang="vi">

<head>
    <title>{{titlePage}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/style1612760.css">
    <link rel="stylesheet" type="text/css" href="/styles/style1612771.css">
</head>

<body>
    <header class="header shadow">
        <!-- Header Content -->
        <div id="header" class="header_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-itemsFf-center justfy-content-start">
                            <div class="logo_container">
                                <a href="/" class="text-decoration-none">
                                    <div class="logo"><span>Salad</span>NEWS</div>
                                    <div class="logo_sub">Trang báo lá cải & tin tức xàm lông hàng đầu Việt Nam
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row margin-body">
            <div class="col-sm-3">
                <div class="">
                    <div class="card shadow">
                        <h5 class="card-header">
                            PHÂN HỆ BIÊN TẬP VIÊN
                        </h5>
                        <div class="list-group list-group-flush">
                            {{#each lcCategories}}

                            <a href="/editor/{{catid}}/posts"
                                class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                                {{name}}
                                {{#if isView}}
                                <p>{{isView}}</p>
                                {{/if}}
                                {{#if numofposts}}
                                <span class="badge badge-danger float-right">{{numofposts}}</span>
                                {{/if}}
                            </a>
                            {{/each}}
                        </div>
                    </div>
                    <div class="font-size mt-3">
                        <a class="nav-link btn btn-outline-success  mt-2 {{#if isAccept}}active{{/if}}" href="/editor/listAccept" id="listAccept"
                            href="textEditor">Bài đã
                            duyệt</a>
                        <a class="nav-link btn btn-outline-warning  mt-2 {{#if isDeny}}active{{/if}}" href="/editor/listDeny" id="listDeny"
                            href="textEditor">Bài đã từ chối</a>
                    </div>
                </div>
            </div>
            {{{body}}}
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{!-- <script type="text/javascript" src="/js/script1612771.js"></script> --}}
    <script>
        $('.inputDatetime').datetimepicker({ footer: true, modal: true, format: 'yyyy-mm-dd HH:MM' });
    </script>

</body>

</html>