<div class="col-sm-3">
    <div class="fixed_div">
        <div class="card shadow">
            <h5 class="card-header">
                PHÂN HỆ PHÓNG VIÊN
            </h5>
            <div class="list-group list-group-flush">
                <a href="approved" class="list-group-item list-group-item-action">
                    Đã duyệt & chờ xuất bản
                    <span class="badge badge-danger float-right">1</span>
                </a>
                <a href="published" class="list-group-item list-group-item-action">
                    Đã xuất bản
                    <span class="badge badge-danger float-right">1</span>
                </a>
                <a href="denied" class="list-group-item list-group-item-action active">
                    Bị từ chối
                    <span class="badge badge-danger float-right">1</span>
                </a>
                <a href="pending" class="list-group-item list-group-item-action">
                    Chưa được duyệt
                    <span class="badge badge-danger float-right">1</span>
                </a>
            </div>
        </div>
        <div class="font-size shadow">
            <a class="nav-link btn btn-outline-primary" id="text-editor-tab" href="textEditor">Viết bài mới</a>
        </div>
    </div>
</div>
<div class="col-sm-9">
    <div class="content" id="Content">
        <div id="pending">
            <div class="posts">
                <!-- Post -->
                {{#each this.posts}}
                <div class="post_item post_h_large">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="post_image"><img src="{{urlthumbnail}}" alt="hello thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="post_content">
                                <div>
                                    <div class="pull-right">
                                        <a class="btn btn-secondary" href="" role="button" data-toggle="modal"
                                            data-target="#modalReason{{id}}">
                                            <i class="fa fa-question" aria-hidden="true"></i>
                                            Xem lý do
                                        </a>
                                        <a class="btn btn-info" href="textEditor/{{id}}" role="button">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                            Chỉnh sửa
                                        </a>
                                    </div>
                                    <div class="post_category cat_world"><a href="/categories">Công nghệ</a></div>
                                </div>
                                <div
                                    class="myA tags_content d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <div class="tag"><a href="../category.html">#smartphone</a></div>
                                </div>
                                <div class="post_title"><a href="/single">{{title}}</a></div>
                                <div class="post_info d-flex flex-row align-items-center justify-content-start">
                                    <div class="post_author d-flex flex-row align-items-center justify-content-start">
                                        <div>
                                            <div class="post_author_image"><img
                                                    src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.0-9/62044047_625196087977000_549128624108732416_n.jpg?_nc_cat=105&_nc_eui2=AeHGyglMWe9rethO9-kxIlGvxOsZeg4ZDdbh7caG0kLNpFFb1xz8ZnIp3RxFZ1OM0NiD_bQwxVPGCAKSD0bTTMJIOSX6s3uv1GawYsU8KOYsBA&_nc_oc=AQmZ8c7CyGHeyvRXi7xocCkldRVM7_mdx7fyZVt4Uq6_j2NXf_XFnfy7xltZZhOvHxE&_nc_ht=scontent.fsgn5-2.fna&oh=e79046e225eb88ad5e41c578b079329b&oe=5D81056B"
                                                    alt=""></div>
                                        </div>
                                        <div class="post_author_name"><a href="#" Truong nguyen</a> </div> </div> <div
                                                class="post_date"><a href="#">Ngày giờ</a></div>
                                    </div>
                                    <div class="post_text">
                                        <p>{{summary}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- modal --}}
                    <div class="modal fade" id="modalReason{{id}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Lý do từ chối</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <div class="modal-body mx-3">
                                        <div class="md-form mb-5">
                                            <label for="idDeny{{id}}">ID</label>
                                            <input readonly class="form-control" id="idDeny{{id}}" name="id" type="text"
                                                value="{{id}}">
                                        </div>
                                        <div class="md-form mb-5">
                                            <i class="fas fa-user prefix grey-text"></i>
                                            <label data-error="wrong" data-success="right" for="reason">Lý do từ
                                                chối</label>
                                            <input readonly class="form-control" type="text" id="reason" name="reason"
                                                class="form-control validate black_text" value="{{reason}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-secondary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>