<div class="col-3 ">
  <div class="fixed_div">
    <div class="card shadow">
      <h5 class="card-header">
        PHÂN HỆ PHÓNG VIÊN
      </h5>
      <div class="list-group list-group-flush">
        <a href="/writer/approved" class="list-group-item list-group-item-action">
          Đã duyệt & chờ xuất bản
          <span class="badge badge-danger float-right">1</span>
        </a>
        <a href="/writer/published" class="list-group-item list-group-item-action">
          Đã xuất bản
          <span class="badge badge-danger float-right">1</span>
        </a>
        <a href="/writer/denied" class="list-group-item list-group-item-action">
          Bị từ chối
          <span class="badge badge-danger float-right">1</span>
        </a>
        <a href="/writer/pending" class="list-group-item list-group-item-action">
          Chưa được duyệt
          <span class="badge badge-danger float-right">1</span>
        </a>
      </div>
    </div>
    <div class="font-size shadow">
      <a class="nav-link btn btn-outline-primary" id="text-editor-tab" href="/writer/textEditor">Viết bài mới</a>
    </div>
  </div>
</div>
<div class="col-9">
  {{#if this.err}}
  <div class="alert alert-warning">
    <strong>Chú ý!</strong> Không tìm thấy bài viết.
  </div>
  {{else}}
  <form method="POST" name="formNewPost" action="/writer/textEditor/update">
    <div class="margin-bottom">
      <label for="id">ID</label>
      <input readonly name="id" type="text" value="{{posts.id}}" class="form-control black_text" id="id">
    </div>
    <div class="margin-bottom">
      <label for="title">Tiêu đề</label>
      <input name="title" type="text" value="{{posts.title}}" class="form-control black_text" id="title"
        placeholder="Nhập tiêu đề của bài viết" required>
    </div>
    <div class="form-group margin-bottom">
      <label for="summary">Tóm tắt</label>
      <textarea name="summary" class="form-control black_text" rows="3" id="summary"
        placeholder="Tóm tắt nội dung bài viết" required>{{posts.summary}}</textarea>
    </div>
    <div class="margin-bottom">
      <label for="editor">Chi tiết bài viết</label>
      <div id="summernote"></div>
      <input id="content" name="content" type="hidden" value="{{posts.content}}">
      <input id="thumbnail" name="thumbnail" type="hidden">
    </div>
    <div class="margin-bottom">
      <label for="category-list">Chọn chuyên mục cho bài viết</label>
      <select name="category" id="category-list" class="form-control black_text">
        {{#each lcCategories}}
        <option value="{{catid}}" {{#if isSelect}}selected="selected" {{/if}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="margin-bottom">
      <label for="tag-list">Chọn thẻ cho bài viết</label>
      <select name="tag" id="tag-list" class="form-control black_text" multiple required>
        {{#each lcTags}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <button type="submit" id="submit" class="btn btn-success margin-bottom">
      <i class="fa fa-check" aria-hidden="true"></i>
      Lưu
    </button>
  </form>
  {{/if}}


  <script>
    $('#summernote').summernote({
      placeholder: '',
      tabsize: 2,
      height: 100
    });
  </script>

  <script>
    $(document).ready(function () {
      var HTMLstring = $('#content').val();
      $(".note-editable").empty();
      $(".note-editable").append(`${HTMLstring}`);

    });
  </script>


  <script>
    $('#submit').click(function () {
      var html = $('#summernote').summernote('code');
      var src = $(html).find('img').attr('src');
      $("#thumbnail").val(src);
      $("#content").val(html);
    });
  </script>
</div>