<!-- Home -->

<div class="home">

	<!-- Home Slider -->
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">
			{{#each this.topslide}}
			<!-- Slide -->
			<div class="owl-item home_slider_item">
				<div class="background_image" style="background-image:url({{urlthumbnail}})"></div>
				<div class="bgC home_slider_content text-center">
					<div class="home_slider_content_inner" data-animation-in="fadeIn"
						data-animation-out="animate-out fadeOut">
						<div class="home_category"><a href="/categories/{{idcategory}}">{{category}}</a></div>
						<div class="home_title">{{title}}</div>
						<div class="home_text">{{summary}}</div>
						<div class="home_button trans_200"><a href="/posts/{{id}}">Xem thêm</a></div>
					</div>
				</div>
			</div>
			{{/each}}


		</div>

		<!-- Home Slider Navigation -->
		<div class="home_slider_nav home_slider_prev trans_200"><i class="fa fa-angle-left trans_200"
				aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next trans_200"><i class="fa fa-angle-right trans_200"
				aria-hidden="true"></i></div>
	</div>

	<!-- Intro -->

	<!-- <div class="intro">
		<div class="container">
			<div class="row row-no-gutters">
				 
				<div class="col-md-4 intro_col">
					<div class="intro_item">
						<img src="/images/intro_1.jpg" alt="">
						<div class="intro_content trans_200"><a href="/categories">thế giới</a></div>
					</div>
				</div>
			div contetn
				 
				<div class="col-md-4 intro_col">
					<div class="intro_item">
						<img src="/images/intro_2.jpg" alt="">
						<div class="intro_content trans_200"><a href="/categories">Sức khỏe</a></div>
					</div>
				</div>

				 
				<div class="col-md-4 intro_col">
					<div class="intro_item">
						<img src="/images/intro_3.jpg" alt="">
						<div class="intro_content trans_200"><a href="/categories">công nghệ</a></div>
					</div>
				</div>

				 
				<div class="col-md-4 intro_col">
					<div class="intro_item">
						<img src="/images/intro_1.jpg" alt="">
						<div class="intro_content trans_200"><a href="/categories">kinh doanh</a></div>
					</div>
				</div>

				 
				<div class="col-md-4 intro_col">
					<div class="intro_item">
						<img src="/images/intro_2.jpg" alt="">
						<div class="intro_content trans_200"><a href="/categories">thể thao</a></div>
					</div>
				</div>

				 
				<div class="col-md-4 intro_col">
					<div class="intro_item">
						<img src="/images/intro_3.jpg" alt="">
						<div class="intro_content trans_200"><a href="/categories">du lịch</a></div>
					</div>
				</div>

			</div>
		</div>
	</div> -->

	<div class="content_container">

		<!-- Featured Title -->
		<div class="featured_title">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container d-flex flex-row align-items-start justify-content-start">
							<div>
								<div class="section_title">Bài viết premium</div>
								<div class="section_subtitle">Bài viết xuất sắc chọn lọc</div>
							</div>
							<div class="section_bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<!-- Main Content -->

				<div class="col-lg-9">
					<div class="main_content">

						<!-- Featured -->

						<div class="featured">
							<div class="row">
								<div class="col-lg-8">

									<!-- Post -->
									<div
										class="post_item post_v_large d-flex flex-column align-items-start justify-content-start">
										<div class="post01"></div>
									</div>

								</div>
								<div class="col-lg-4">

									<!-- Post -->
									<div
										class="post_item post_v_small d-flex flex-column align-items-start justify-content-start">
										<div class="post02"></div>
									</div>



									<!-- Post -->
									<div
										class="post_item post_v_small d-flex flex-column align-items-start justify-content-start">
										<div class="post02"></div>
									</div>

								</div>
							</div>
						</div>
						<!-- World -->

						<div class="world">
							<div
								class="section_title_container d-flex flex-row align-items-start justify-content-start">
								<div>
									<div class="section_title">Tin mới hàng ngày</div>
									<div class="section_subtitle">Tin tức mới mới mới</div>
								</div>
								<div class="section_bar"></div>
							</div>
							<div class="row world_row">
								<div class="col-lg-11">
									<div class="row">

										{{#each posts}}
										<div class="col-lg-6">
											<!-- Post -->
											<div
												class="post_item post_v_med d-flex flex-column align-items-start justify-content-start">
												<div class="post_image"><a href="/posts"><img src="{{urlthumbnail}}" onerror="this.onerror=null; this.src='/images/no_image.png'"
															alt="ảnh bìa"></a></div>
												<div class="post_content">
													<div class="post_category cat_technology"><a
															href="/categories/{{idcategory}}">{{category}}</a></div>
													<div
														class="myA tags_content d-flex flex-row align-items-start justify-content-start flex-wrap">
														{{#each this.tags}}
														<div class="tag"><a href="/tags/{{this.id}}">#{{name}}</a></div>
														{{/each}}
													</div>
													<div class="post_title"><a href="/posts/{{id}}">{{title}}</a></div>
													<div
														class="post_info d-flex flex-row align-items-center justify-content-start">
														<div
															class="post_author d-flex flex-row align-items-center justify-content-start">
															<div>
																<div class="post_author_image"><img src="{{urlavatar}}" onerror="this.onerror=null; this.src='/images/no_image.png'"
																		alt="avatar người viết"></div>
															</div>
															<div class="post_author_name"><a
																	href="javascript:;">{{writer}}</a></div>
														</div>
														<div class="post_date"><a
																href="javascript:;">{{date}}</a>
														</div>
														<div class="post_comments ml-auto"><a href="javascript:;">lượt
																xem: {{view}}</a></div>
													</div>
													<div class="post_text">
														<p>{{summary}}</p>
													</div>
												</div>
											</div>
										</div>
										{{/each}}

										{{!-- <div class="col-lg-6">

											<!-- Post -->
											<div
												class="post_item post_v_med d-flex flex-column align-items-start justify-content-start">
												<div class="post_image"><a href="/posts"><img src="/images/post_5.jpg"
															alt="https://unsplash.com/@mattyfours"></a></div>
												<div class="post_content">
													<div class="post_category cat_technology"><a
															href="/categories">technology</a></div>
													<div
														class="myA tags_content d-flex flex-row align-items-start justify-content-start flex-wrap">
														<div class="tag"><a href="/categories">#công nghệ</a>
														</div>
														<div class="tag"><a href="/categories">#design</a></div>
														<div class="tag"><a href="/categories">#travel</a></div>
														<div class="tag"><a href="/categories">#video</a></div>

													</div>
													<div class="post_title"><a href="/posts">Keep up with the
															tech</a></div>
													<div
														class="post_info d-flex flex-row align-items-center justify-content-start">
														<div
															class="post_author d-flex flex-row align-items-center justify-content-start">
															<div>
																<div class="post_author_image"><img
																		src="/images/author_1.jpg" alt=""></div>
															</div>
															<div class="post_author_name"><a href="javascript:;">Michael
																	Smith</a></div>
														</div>
														<div class="post_date"><a href="javascript:;">29 April 2018</a>
														</div>
														<div class="post_comments ml-auto"><a href="javascript:;">3
																comments</a></div>
													</div>
													<div class="post_text">
														<p>Curabitur venenatis efficitur lorem sed tempor. Integer
															aliquet tempor cursus. Nullam vestibulum convallis risus
															vel condimentum. Nullam auctor lorem in libero luctus,
															vel volutpat quam tincidunt. Nullam vestibulum convallis
															risus vel condimentum. Nullam auctor lorem in libero.
														</p>
													</div>
												</div>
											</div>
										</div> --}}
									</div>
								</div>
							</div>
						</div>

						<!-- Load more button -->
						<div class="load_more">
							<div class="load_more_button"><a href="javascript:;">load more</a></div>
						</div>

					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-lg-3">
					<div class="sidebar">
						<!-- Extra -->
						<div class="sidebar_extra">
							<a href="javascript:;">
								<div class="sidebar_title">Advertisement</div>
								<div class="sidebar_extra_container">
									<div class="background_image" style="background-image:url(images/extra_1.jpg)">
									</div>
									<div class="sidebar_extra_content">
										<div class="sidebar_extra_title">30%</div>
										<div class="sidebar_extra_title">off</div>
										<div class="sidebar_extra_subtitle">Buy online now</div>
									</div>
								</div>
							</a>
						</div>

						<!-- Most Viewed -->

						<div class="most_viewed">
							<div class="sidebar_title">Bài viết được xem nhiều nhất</div>
							<div class="most_viewed_items" id="sidebar-scroll">
								{{#each topView}}
								<!-- Most Viewed Item -->
								<div class="most_viewed_item d-flex flex-row align-items-start justify-content-start">
									<div>
										<div class="most_viewed_num">{{@index}}.</div>
									</div>
									<div class="most_viewed_content">
										<div class="post_category_small cat_economy"><a
												href="/categories/{{idcategory}}">video</a>
										</div>
										<div class="most_viewed_title"><a href="/posts/{{id}}">{{title}}</a></div>
										<div class="most_viewed_date"><a href="javascript:;">view: {{view}}</a></div>
									</div>
								</div>
								{{/each}}

								{{!-- <!-- Most Viewed Item -->
								<div class="most_viewed_item d-flex flex-row align-items-start justify-content-start">
									<div>
										<div class="most_viewed_num">01.</div>
									</div>
									<div class="most_viewed_content">
										<div class="post_category_small cat_economy"><a href="/categories">video</a>
										</div>
										<div class="most_viewed_title"><a href="/posts">New tech
												development</a></div>
										<div class="most_viewed_date"><a href="javascript:;">March 12, 2018</a></div>
									</div>
								</div> --}}

							</div>
						</div>

						<!-- Latest Posts -->
						<div class="sidebar_latest">
							<div class="sidebar_title">Bài viết theo chuyên mục mới nhất</div>
							<div class="latest_posts" id="sidebar-scroll">
								{{#each topCat}}
								<!-- Latest Post -->

								<div class="latest_post d-flex flex-row align-items-start justify-content-start">
									<div>
										<div class="latest_post_image"><a href="posts/{{id}}"><img
													src="{{urlthumbnail}}" onerror="this.onerror=null; this.src='/images/no_image.png'" alt="ảnh bìa"></a>
										</div>
									</div>
									<div class="latest_post_content">
										<div class="post_category_small cat_technology"><a
												href="categories/{{idcategory}}">{{category}}</a>
										</div>
										<div class="latest_post_title"><a href="posts/{{id}}">{{title}}</a></div>
										<div class="latest_post_date">{{date}}</div>
									</div>
								</div>
								{{/each}}
							</div>
						</div>



						<!-- Tags -->

						<div class="tags">
							<div class="sidebar_title">Tags</div>
							<div class="tags_content d-flex flex-row align-items-start justify-content-start flex-wrap">
								{{#each tags}}
								<div class="tag cat_world"><a href="tags/{{id}}">{{name}}</a></div>
								{{/each}}
								{{!-- <div class="tag cat_world"><a href="/categories">thế giới</a></div> --}}

							</div>
						</div>

						<!-- Extra -->
						<div class="sidebar_extra">
							<a href="javascript:;">
								<div class="sidebar_title">Advertisement</div>
								<div class="sidebar_extra_container">
									<div class="background_image" style="background-image:url(images/extra_2.jpg)">
									</div>
									<div class="sidebar_extra_content">
										<div class="sidebar_extra_title">30%</div>
										<div class="sidebar_extra_title">off</div>
										<div class="sidebar_extra_subtitle">Buy online now</div>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>