<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thông tin cá nhân | SaladNews</title>
    <link rel="stylesheet" href="/styles/main_styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/personal.css">
</head>

<body>
    <header class="header">
        <!-- Header Content -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justfy-content-start">
                        <div class="logo_container">
                            <a href="/">
                                <div class="logo"><span>Salad</span>News</div>
                                <div class="logo_sub">Trang báo lá cải & tin tức xàm lông hàng đầu Việt Nam</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="label">Thông tin cá nhân</div>

    <div class="container">
        {{#if notices}}
        <div class="alert alert-success">{{notices}}</div>
        {{/if}}
        <div class="avatar">
            <img src="{{user.urlavatar}}" alt="avatar" width="128" height="128">
            <span class="name">Xin chào, {{user.fullname}} !!</span>
        </div>
        <form method="POST">
            <div class="form-group">
                <label for="name">Họ tên</label>
                <input type="text" name="fullname" value="{{user.fullname}}" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" value="{{user.email}}" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="url">Link ảnh đại diện</label>
                <input type="text" name="urlavatar" value="{{user.urlavatar}}" class="form-control" id="url">
            </div>
            <div class="form-group">
                <label for="date" style="margin-right: 16px">Ngày hết hạn Premium</label>
                <span>(<a href="/request-premium">Gia hạn ngay</a>)</span>
                <input class="form-control" type="text" value="{{user.expirationdate}}" readonly>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Thay đổi</button>
        </form>
    </div>
</body>

</html>