<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/footer.jpg"
		data-speed="0.8"></div>
	<div class="home_content_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_title">Bài viết chi tiết</div>
						<div class="breadcrumbs">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="/">Home</a></li>
								<li><a href="/categories/{{this.post.idcategory}}">{{this.post.category}}</a></li>
								<li>{{post.title}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Container -->

<div class="content_container">
	<div class="container">
		<div class="row">

			<!-- Single Post -->

			<div class="col-lg-9">

				<div class="single_post">
					<div class="post_image"><img src="{{post.urlthumbnail}}" alt="{{post.title}}">
					</div>
					<div class="post_content">
						<div class="post_category cat_technology"><a
								href="/categories/{{post.idcategory}}">{{post.category}}</a></div>
						<!--tabs-->
						<div class="myA tags_content d-flex flex-row align-items-start justify-content-start flex-wrap">
							{{#each tags}}
							<div class="tag"><a href="/tags/{{id}}">#{{name}}</a></div>
							{{/each}}


						</div>
						<div class="post_title"><a href="/posts">{{post.title}}</a></div>

						<div class="post_info d-flex flex-row align-items-center justify-content-start">
							<div class="post_author d-flex flex-row align-items-center justify-content-start">
								<div>
									<div class="post_author_image"><img src="{{post.urlAvatar}}" alt=""></div>
								</div>
								<div class="post_author_name"><a href="#">{{post.writer}}</a></div>
							</div>
							<div class="post_date"><a href="#">{{post.date}}</a></div>
							<div class="post_comments_num ml-auto"><a href="#">số lượt xem: {{post.view}}</a></div>
						</div>
						<div class="post_text">
							<p class="font-weight-bold">{{post.summary}}</p>
							{{{post.content}}}
						</div>
					</div>

					<!-- Social Share -->
					<div class="post_share d-flex flex-row align-items-center justify-content-start">
						<div class="post_share_title">Share:</div>
						<ul class="post_share_list d-flex flex-row align-items-center justify-content-center">
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>

					<!-- Reply  -->
					{{#if isLogin}}
					<div class="reply_form_container">
						<form method="POST" id="reply_form" class="reply_form">
							<div class="form-group">
								<label for="comment">Bình luận:</label>
								<textarea class="form-control" rows="5" name="content" id="comment"
									placeholder="Nhập bình luận tại đây"></textarea>
							</div>
							<button class="reply_button trans_200">Gửi</button>
						</form>
					</div>
					{{else}}
					<div class="reply_form_container">
						<label for="">Để bình luận cho bài viết này vui lòng <a href="/login">đăng
								nhập</a>!</label>
					</div>
					{{/if}}
					
					<!-- Comments -->
					<div class="post_comments">
						<h4 class="mb-4">Tất cả bình luận:</h4>
						<ul class="post_comments_list">
							{{#each comments}}
							<!-- Comment -->
							<li class="comment">
								<div class="comment_info d-flex flex-row align-items-center justify-content-start">
									<div>
										<div class="comment_image"><img src="{{urlavatar}}" alt="">
										</div>
									</div>
									<div class="comment_author"><a href="#">{{fullname}}</a></div>
								</div>
								<div class="comment_content">
									<div class="comment_text">
										<p>{{content}}</p>
									</div>
									<div class="post_date">
										{{this.date}}
									</div>
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>

			<!-- Sidebar -->

			<div class="col-lg-3">
				<div class="sidebar">

					<!-- Bài viết liên quan -->
					<div class="sidebar_latest">
						<div class="sidebar_title">Bài viết liên quan</div>
						<div class="latest_posts">
							{{#each postsCat}}
							<!-- Bài viết liên quan -->
							<div class="latest_post d-flex flex-row align-items-start justify-content-start">
								<div>
									<div class="latest_post_image"><img src="{{urlthumbnail}}" alt="ảnh bìa"></div>
								</div>
								<div class="latest_post_content">
									<div class="post_category_small cat_video"><a
											href="/categories/{{idcategory}}">{{category}}</a>
									</div>
									<div class="latest_post_title"><a href="/posts/{{id}}">{{title}}</a></div>
									<div class="latest_post_date">{{date}}</div>
								</div>
							</div>
							{{/each}}



						</div>
					</div>

					<!-- Extra -->
					<div class="sidebar_extra">
						<a href="#">
							<div class="sidebar_title">Advertisement</div>
							<div class="sidebar_extra_container">
								<div class="background_image" style="background-image:url(/images/extra_2.jpg)">
								</div>
								<div class="sidebar_extra_content">
									<div class="sidebar_extra_title">30%</div>
									<div class="sidebar_extra_title">off</div>
									<div class="sidebar_extra_subtitle">Buy online now</div>
								</div>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>